<body>
  <div class="container">
    <div class="page-header"><h1>New Location</h1></div>

  <ol class="breadcrumb">
    <li><%= link_to 'Locations', locations_path %></li>
    <li class="active">New Location</li>
  </ol>


<%= render 'form' %>

</div>
</body>
